/**
 * Testcase Stylesheet
 *
 * Standard Screen Layout
 */

/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Globaler Browser Reset
 * 
 * @section browser reset
 * @see     http://meyerweb.com/eric/tools/css/reset/
 *          v2.0 | 20110126
 *          License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Clearfix
 * 
 * @section clearing method
 * @see	 http://nicolasgallagher.com/micro-clearfix-hack/
 */

.cf:before,
.cf:after {
	display: table;
	content: "";
}

.cf:after {
	clear: both;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 *
 * Basisformatierungen
 *
 * @section base-formattings
 */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
	/* 16px */
	line-height: 1.375em;
	/* 22px */
	-webkit-font-smoothing: antialiased;
	text-align: left;
	color: #333;
	background-color: #fff;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 * 
 * Allgemeine Layoutformatierungen
 * 
 * @section layout-basics
 */

.content {
	position: relative;
	max-width: 80%;
	margin: 20px auto 0;
}

.case {
	margin-bottom: 50px;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 * 
 * Case 1
 * 
 * @section c-1
 */

.c-1 {
	display: inline-block;
	width: 100%;
	padding: 20px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ccc;
}

.c-1:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: "";
}

.c-1 .box {
	display: inline-block;
	max-width: 80%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 * 
 * Case 2
 * 
 * @section c-2
 */

.c-2 {
	display: table;
	overflow: hidden;
	width: 100%;
	table-layout: fixed;
	word-spacing: -1em;
}

.c-2 .box {
	display: inline-block;
	width: 50%;
	margin-bottom: -10000px;
	padding: 10px 10px 10000px;
	vertical-align: top;
	word-spacing: 0;
	background-color: #eee;
}

.c-2 .box + .box {
	background-color: #ddd;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 * 
 * Case 3
 * 
 * @section c-3
 */

.c-3 {
	margin-left: -10px;
	word-spacing: -1em;
}

.c-3 > .box-wrapper {
	display: inline-block;
	width: 33.3333%;
	word-spacing: 0;
	vertical-align: top;
}

.c-3 .box {
	padding: 10px;
	margin-left: 10px;
	background-color: #eee;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 * 
 * Case 4
 * 
 * @section c-4
 */

.c-4 {
	margin-left: -10px;
	word-spacing: -1em;
}

.c-4 > .box-wrapper {
	display: inline-block;
	width: 33.3333%;
	word-spacing: 0;
	vertical-align: top;
}

.c-4 .box {
	padding: 10px;
	margin: 0 0 10px 10px;
	background-color: #eee;
}

/**
 * ---------------------------------------------------------------------------------------------------- #
 * 
 * Case 5
 * 
 * @section c-5
 */

.c-5 {
	margin-left: -10px;
	word-spacing: -1em;
}

.c-5 > .box-wrapper {
	display: inline-block;
	width: 25%;
	word-spacing: 0;
	vertical-align: top;
	@include breakpoint(1024px, 768px) {
		width: 50%;
	}
}

.c-5 .box {
	padding: 10px;
	margin: 0 0 10px 10px;
	background-color: #eee;
}
