<div class="case case-1 c-2">
	<div class="box">
		<div class="animation-box">
			<!-- box -->
		</div>
		
		<div class="animation-controls">
			<select class="animation-select">
				<option value="" disabled="disabled">Please choose...</option>
			</select>
			
			<button class="show-animation">Show Animation</button>
		</div>
	</div>
	
	<div class="box">
		<h1>{{headline}}</h1>
		<pre class="language-markup">
			<code>{{dummy-code-markup}}</code>
		</pre>
		<pre class="language-css">
			<code>{{dummy-code-css}}</code>
		</pre>
		<pre class="language-scss">
			<code>{{dummy-code-scss}}</code>
		</pre>
	</div>
</div>