<div class="case c-2">
	<div class="box">
		<div class="animation-box">
		</div>
		<select class="animation-select">
			<option value="">Please choose...</option>
		</select>
		<button class="show-animation">Show Animation</button>
	</div>
	
	<div class="box">
		<h1>{{headline}}</h1>
		<code>{{dummy-code}}</code>
	</div>
</div>