.animation-box {
	width: 100%;
	height: 100px;
	background-color: #f90;
	&.ani-case-1 {
		height: 200px;
	}
	&.ani-case-2 {
		width: 50%;
	}
	&.ani-case-3 {
		background-color: #00ff00;
	}
}

.animation-controls {
	margin: 10px 0;
}
